# Chi-square test

In [1]:
import scipy.stats as stats

In [4]:
import seaborn as sns
import pandas as pd
import numpy as np
dataset= sns.load_dataset('tips')
dataset.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [5]:
dataset_table= pd.crosstab(dataset['sex'], dataset['smoker'])

In [6]:
dataset_table

smoker  Yes  No
sex
Male     60  97
Female   33  54

In [ ]:
# O

In [7]:
Observed_values= dataset_table.values

In [8]:
Observed_values

array([[60, 97],
       [33, 54]])

In [ ]:
# Chi-square statistic, p-value, Degrees of freedom, and Expected Frequencies(e)

In [12]:
val= stats.chi2_contingency(dataset_table)

In [14]:
print(val)

Chi2ContingencyResult(statistic=np.float64(0.0), pvalue=np.float64(1.0), dof=1, expected_freq=array([[59.84016393, 97.15983607],
       [33.15983607, 53.84016393]]))

In [15]:
Expected_values= val[3]

In [16]:
rows, columns= dataset_table.shape

In [17]:
rows, columns

(2, 2)

In [19]:
dof, alpha= (rows-1)*(columns-1), 0.05

In [20]:
dof, alpha

(1, 0.05)

In [22]:
# calculating chi square value

In [31]:
from scipy.stats import chi2
chi_square= sum([((o-e)**2)/e for o,e in zip(Observed_values,Expected_values)]) 
chi_square_statistic= chi_square[0] + chi_square[1]

In [33]:
print(chi_square_statistic)

0.001934818536627623

In [35]:
critical_value= chi2.ppf(1-alpha, dof)
print(critical_value)

3.841458820694124

In [36]:
 if chi_square_statistic>=critical_value:
    print("Reject H0,There is a relationship between 2 categorical variables")
else:
    print("Retain H0,There is no relationship between 2 categorical variables")

Retain H0,There is no relationship between 2 categorical variables

In [37]:
# Alternative way

In [39]:
p_value= 1- chi2.cdf(chi_square_statistic, dof)
print(p_value)

0.964915107315732

In [40]:
if p_value<=alpha:
    print("Reject H0,There is a relationship between 2 categorical variables")
else:
    print("Retain H0,There is no relationship between 2 categorical variables")

Retain H0,There is no relationship between 2 categorical variables